{% extends 'base.html.twig' %}

{% block title %}VALORANT Tracker{% endblock %}

{% block stylesheets %}
    <style>
        .navbar {
            background-color: #1b2632 !important; /* Color de fondo de la barra de navegación */
            color: #ffffff;
        }
		.nav-link{
			color: #FFFFFF !important;
		}
    </style>
{% endblock %}

{% block body %}
    <nav class="navbar navbar-expand-lg navbar-light bg-ligth">
        <div class="container-fluid"> <!-- Agrega la clase container-fluid aquí -->
            <a class="navbar-brand brand-small" href="{{ path('app_main') }}">MongoGG</a>
           

            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                <div class="navbar-nav">
				 <a class="nav-link m-3" href="{{ path('app_valorant') }}">VALORANT</a>
                    <a class="nav-link m-3" aria-current="page" href="{{ path('app_valorant_agentes') }}">Agents</a>
                    <a class="nav-link m-3" href="{{ path('app_valorant_armas') }}">Weapons</a>
                    <a class="nav-link m-3" href="{{ path('app_valorant_skins') }}">Skin Packs</a>
                    <a class="nav-link m-3" href="{{ path('app_valorant_mapas') }}">Maps</a>
                    <a class="nav-link m-3" href="{{ path('app_valorant_tarjetas') }}">Bundles</a>
                    <a class="nav-link m-3" href="{{ path('app_valorant_llaveros') }}">Buddies</a>
                    <a class="nav-link m-3" href="{{ path('app_valorant_grafitis') }}">Sprays</a>
                    <a class="nav-link m-3" href="{{ path('app_valorant_modosJuego') }}">GameModes</a>
                </div>
            </div>
        </div>
    </nav>
{% endblock %}
