{% extends 'base.html.twig' %}

{% block title %}LOL Tracker
{% endblock %}
{% block stylesheets %}
	<style>
		.card-link {
			color: inherit; /* Mantener el color de texto original */
			text-decoration: none; /* Quitar subrayado */
			cursor: pointer; /* Cambiar cursor al puntero al pasar sobre el enlace */

		}
		@keyframes slideIn {
			from {
				opacity: 0;
				transform: translateY(-20px);
			}
			to {
				opacity: 1;
				transform: translateY(0);
			}
		}

		/* Aplica la animación a la clase card-body */
		.card-body {
			animation: slideIn 0.5s ease-out;
			transition: transform 0.2s ease-out;
		}
		.card-body:hover {
			transform: translatex(10px);
		}
	</style>
{% endblock %}

{% block body %}
	<div class="pt-5 mt-5">
		<div class="card-body mb-5" style="width:30rem;">
			<a href="{{ path('app_league_of_legends_campeones') }}" class="card-link">
				<div class="d-flex flex-column bg-dark rounded">
					<h1 class="card-text text-white">Champions List</h1>
					<img src="{{asset('images/monster.png')}}" alt="icono" class="img-fluid mx-auto"/>
				</div>
			</a>
		</div>
		<div class="card-body bg-dark rounded mb-5" style="width:30rem;">
			<a href="{{ path('app_league_of_legends_campeones_rotacion') }}" class="card-link">
				<div class="d-flex flex-column">
					<h1 class="card-text text-white">Rotate Champions List</h1>
					<img src="{{asset('images/week.png')}}" alt="icono" class="img-fluid mx-auto"/>
				</div>
			</a>
		</div>
		<div class="card-body bg-dark rounded mb-5" style="width:30rem;">
			<a href="{{ path('app_league_of_legends_clasificaciones') }}" class="card-link">
				<div class="d-flex flex-column">
					<h1 class="card-text text-white">Tier Rank</h1>
					<img src="{{asset('images/tiers.png')}}" alt="icono" class="img-fluid mx-auto"/>
				</div>
			</a>
		</div>
	</div>


{% endblock %}
