{% extends 'base.html.twig' %}

{% block title %}MongoGG
{% endblock %}

{% block body %}
	<!-- Page Content-->
	{% if app.user %}
		<div class=" ms-5 mt-2 me-5 text-white">
			<div class="d-flex justify-content-between align-items-center">
				<div>
					<span class="fw-bold mt-2">{{ app.user.userIdentifier }}-{{app.user.UltimoAcceso|date("d/m/Y")}}</span>
				</div>
				<div>
					{% if is_granted('ROLE_ADMIN') %}
						<a href="{{ path('app_user_index') }}" class="btn btn-success mt-2">Listado de Usuarios</a>
					{% endif %}
					<a href="{{ path('app_cuentas_index') }}" class="btn btn btn-primary mt-2">Cuentas</a>
					<a href="{{ path('app_logout') }}" class="btn btn-secondary mt-2">Logout</a>
				</div>
			</div>
		</div>


	{% else %}

		<div class="container pt-2 me-5">
			<div class="row justify-content-end">

				<a href="{{ path('app_login') }}" class="btn btn-secondary m-2">Login</a>

			</div>
		</div>
	{% endif %}

	<section>
		<div class="container">
			<div
				class="row justify-content-between align-items-center vh-100">
				<!-- Botones -->
				<div class="col-lg-6 d-flex justify-content-start">
					<a href="{{path('app_valorant')}}" class="btn btn-primary m-2">VALORANT</a>
					<a href="{{path('app_league_of_legends')}}" class="btn btn-secondary m-2">LEAGUE OF LEGENDS</a>
					<a href="{{path('app_fortnite')}}" class="btn btn-success m-2">FORTNITE</a>
				</div>
				<!-- Título y Eslogan -->
				<div class="col-lg-6">
					<div class="text-center text-white">
						<h1 class="mb-4">MongoGG</h1>
						<p class="lead">Trackea tus partidas, encuentra información sobre diferentes juegos y jugadores.</p>
					</div>
				</div>
			</div>
		</div>
	</section>
{% endblock %}
