{% extends 'base.html.twig' %}

{% block title %}Cuentas
{% endblock %}

{% block body %}
	<div class="container">
		<a class="btn btn-primary bg-dark mt-5" href="{{ path('app_main') }}">Return</a>
	</div>
	<div class="container text-white text-center">
		<h1>ACCOUNTS</h1>

		<table class="table table-dark table-striped">
    <thead>
        <tr>
            <th scope="col">Nombre</th>
            <th scope="col">Enlace</th>
            <th scope="col">Actions</th>
        </tr>
    </thead>
    <tbody>
        {% for cuenta in cuentas %}
            <tr>
                <td>{{ cuenta.nombre }}</td>
                <td>{{ cuenta.enlace }}</td>
                <td>
                    <a href="{{ path('app_cuentas_show', {'id': cuenta.id}) }}" class="btn btn-primary btn-sm">Show</a>
                    <a href="{{ path('app_cuentas_edit', {'id': cuenta.id}) }}" class="btn btn-secondary btn-sm">Edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">Not accounts founded</td>
            </tr>
        {% endfor %}
    </tbody>
</table>

		<div class="mt-3">
			{{ 
            include(
                'comunes/_paginacion.html.twig',
                {
                    elementos_por_pagina: constant('App\\Controller\\CuentasController::ELEMENTOS_POR_PAGINA'),
                    numero_total_elementos: cuentas.count,
                    pagina_actual: pagina
                } 
            )
        }}
		</div>
		<a href="{{ path('app_cuentas_new') }}" class="btn btn-success">Create New</a>

	</div>
{% endblock %}
