{% extends 'base.html.twig' %}

{% block title %}Valorant - Mapas
{% endblock %}

{% block body %}
	<div class="container">
		<a class="btn btn-primary bg-dark mt-5" href="{{ path('app_valorant') }}">Return</a>
	</div>
	<div class="container mt-4 text-white text-center">
		<h1 class="mb-5">MAPS</h1>
		<div id="carouselExampleAutoplayingTop" class="carousel slide" data-bs-ride="carousel">
			<div class="carousel-inner ">
				{% for mapa in mapas %}
					<div class="carousel-item{% if loop.first %} active {% endif %}">
						<img src="{{ mapa.splash }}" class="d-block w-50" alt="{{ mapa.splash }}">
					</div>
				{% endfor %}
			</div>
			
		</div>
		<div id="carouselExampleAutoplayingBottom" class="carousel slide" data-bs-ride="carousel">
			<div class="carousel-inner">
				{% for mapa in mapas %}
					<div class="carousel-item{% if loop.first %} active {% endif %}">
						<img src="{{ mapa.displayIcon }}" class="d-block w-50" alt="{{ mapa.displayIcon }}">
					</div>
				{% endfor %}
			</div>
			
		</div>
	</div>

	{% block javascripts %}
		<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.0/js/bootstrap.bundle.min.js"></script>
		<script>
			document.addEventListener('DOMContentLoaded', function () {
const myCarouselElement = document.querySelector('#carouselExampleAutoplayingTop');
const myCarouselElement2 = document.querySelector('#carouselExampleAutoplayingBottom');
const carousel = new bootstrap.Carousel(myCarouselElement, {
interval: 5000,
touch: false
});
const carousel2 = new bootstrap.Carousel(myCarouselElement2, {
interval: 5000,
touch: false
});
});
		</script>
	{% endblock %}

{% endblock %}
